body {
  min-height: 720px;
  padding-top: 50px;
}
.login-item {
	margin-bottom: 15px;
	display: block;
	width: 100%;
}
.login-box {
	padding: 15px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}
